.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    padding: 0 10px;
}

.toolbar input[type="range"] {
    width: 75%;
    height: 20px;
    border: none;
}

.toolbar img {
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.top {
    height: 30px;
}

.noScroll {
    overflow: hidden;
}

.gridGalleryContainer {
    min-height: calc(100vh - 30px - 16px);
    touch-action: pan-x pan-y
}
